.page-header {
    background-color: #161718;
    width: 100%;
    height: 80px;
    &-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .page-header-brand {
        background: url('../assets/af.svg');
    }
}